<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="ServerKey" value="eb26b3ca6ddd41cf88cff2df68ac55c7"/>
    <add key="ServerSecret" value="ce37eec143ca4c04b715759444fb2d00"/>
    <add key="ServerUrl" value="http://test.app.oodso.com/router/rest/"/>
    <add key="AServerKey" value="eb26b3ca6ddd41cf88cff2df68ac55c7"/>
    <add key="AServerSecret" value="ce37eec143ca4c04b715759444fb2d00"/>
    <add key="AServerUrl" value="http://sandbox.api.oodso.com/router/rest"/>
    <add key="AdminUser" value="消费搜"/>
    <add key="AdminSecret" value="888999"/>
  </appSettings>
</configuration>